.class-view-container{
    margin-top: 20px;
}

.class-view-container .drop-down-con{
    top: 32px;
    right: 18px;
}

.semester-container{
    border-radius: 5px;
    position: relative;
    padding-left: 5px;
    min-height: 45px;
}

.class-view-container h5{
	margin-left: 10px;
	font-size: 14px;
    margin-bottom: 0;
}

.class-view-container hr{
	margin-top: 5px;
}


.semester-container h1{
	display: inline;
    font-weight: 600;
    font-size: 36px;
    width: inherit;
}

.semester-container .sem-title{
    width: 86%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.semester-container button{
	background: none;
    border: none;
    position: absolute;
    font-weight: 800;
    font-size: 26px;
    left: 89%;
    top: -7px;
}

.class-container{
	background: lightgreen;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

.class-container h1{
	display: inline;
    font-size: 18px;
    font-weight: 800;
}

.class-container h2{
	display: inline;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.class-container h3{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: left; 
}

.class-container h4{
	margin-left: 20px;
    font-size: 16px;
    font-weight: 200;
}

.class-container .link{
	position: absolute;
    right: 5px;
    border: none;
    font-weight: 800;
    border-radius: 5px;
}

.class-container .see-assign{
	border: none;
	background: none;
	color: #3185FC;
	margin-left: -3px;
	font-weight: 700;
}

.assign-container{
	background: white;
    padding: 10px;
    border-radius: 5px;
}

.assign-container .assign{
	background: lightyellow;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.assign p{
	font-size: 14px;
	margin-bottom: 0;
}

.assign-container h5{
	margin: 0;
}

.assign button{
	background: none;
    border: none;
    position: absolute;
    left: 91%;
    font-weight: 800;
    font-size: 21px;
    top: 1px;
}
