.class-view-container{
    margin-top: 20px;
    position: relative;
    border-radius: 3px;
}

.class-view-container .drop-down-con{
    top: 32px;
    right: 18px;
}

.semester-container{
    border-radius: 5px;
    position: relative;
    padding-left: 5px;
    min-height: 45px;
}

.class-view-container h5{
	margin-left: 10px;
	font-size: 14px;
    margin-bottom: 0;
}

.class-view-container hr{
	margin-top: 5px;
}


.semester-container h1{
	display: inline;
    font-weight: 600;
    font-size: 36px;
    width: inherit;
}

.semester-container .sem-title{
    width: 86%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.semester-container button{
	background: none;
    border: none;
    position: absolute;
    font-weight: 800;
    font-size: 26px;
    left: 89%;
    top: -7px;
}


.class-view-container button.edit-connection{
    position: absolute;
    right: 5px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
}