.class-legend{
    position: relative;
    min-height: 20px;
    margin-bottom: 4px;
}

.class-legend .class{
    background: rgb(199, 36, 177);
    border-radius: 3px;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
}