a:hover *{
    text-decoration: underline;
}

body{
	width: 100%;
	height: 100%;
    overflow-x: hidden;
}

.page-container{
	margin: 5px 41px;
    position: relative;
}

.mont-font{
    font-family: 'Montserrat', sans-serif;
}

.blue-c{
    color: #007bff;
}

.blue-bc{
    background: #007bff;
}

.muted-c{
    color: #DFE6F0;
}

.black-c{
    color: #282828;
}

.background{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}





/*End of all page styling*/


.feed-container .make-post{
    background: #3185FC;
    padding: 12px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:10px;
}

.feed-container .make-post textarea{
	height: 50px;
    width: 307px;
    border-radius: 17px;
    resize: none;
    display: block;
}

.feed-container .make-post button{
	background: none;
	border: none;
}

.menu{
    background: rgb(87, 89, 90);
}

.menu button{
    width: 100%;
    height: 73px;
    background: #434343;
    border: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.assignments-container{
    background: rgb(30,30,30);
    padding: 10px;
}

.assignment-dashboard{
    padding: 10px;
    background: rgb(245,245,245);
    color: rgb(30,30,30);;
    border-radius: 5px;
    position: relative;
}

.assignment-dashboard h5{
    font-size: 15px;
}

.assignment-dashboard #add-assignment{
    background: none;
    border: none;
    color: #F65656;
    font-weight: 800;
    position: absolute;
    font-size: 42px;
    top: -6%;
    left: 90%;
}

.assignment-dashboard #add-todo{
    background: none;
    border: none;
    color: #9CFF94;
    font-weight: 800;
    position: absolute;
    font-size: 42px;
    top: 69%;
    left: 89%;
}

.see-more{
    background: none;
    border: none;
    font-size: 14px;
    position: relative;
    left: 79%;
    top: -8px;
    font-weight: 600;
}

.see-more-to-do {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 78%;
}

.assignment{
    margin-bottom: 5px;
    padding: 8px 10px 0px 10px;
    border-radius: 15px;
    font-weight: 800;
}

.assignment-dashboard hr{
    margin-top: 0;
    margin-bottom: 5px;
}

.assignment button{
    font-size: 15px;
    color: black;
    background: none;
    border: none;
    position: relative;
    top: -5px;
    background: white;
    border-radius: 100%;
    padding: 0 10px 8px 10px;
}

.to-do{
    display: inline-flex;
    font-weight: 700;
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.to-do button{
    background: #9CFF94;
    border: none;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

button:hover{
    opacity: .7;
}

.truncate {
  width: 97%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}



.agenda{
    background: rgb(30,30,30);
    padding: 10px;
    margin-top: 10px;
}

.agenda .foreground{
    height: 300px;
    background: rgb(245,245,245);
    color: rgb(30,30,30);
    border-radius: 5px;
    position: relative;
    overflow: scroll;
}

.agenda h1{
    color: white;
}

.time-hr h5{
        position: relative;
    font-size: 10px;
    font-weight: 600;
    left: 87%;
    top: -29px;
}

.time-hr{
    position: absolute;
    width: 100%;
}

.agenda .item-container{
    background: #BFF2A7;
    position: absolute;
    opacity: .8;
    width: fit-content;
    padding: 10px;
    left: 10px;
    top: 10px;
    border-radius: 11px;
}

.item-container h2{
        display: inline-block;
    font-size: 14px;
    font-weight: 800;
}

.item-container h3{
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    font-weight: 200;
}

#add-agenda-item{
    background: none;
    border: none;
    color: #A3CCF1;
    font-weight: 800;
    position: absolute;
    font-size: 42px;
    top: -3%;
    left: 89%;
}

.feed-data{
    height: 594px;
    overflow: scroll;
    padding: 10px 10px;
    background: rgb(30,30,30);
}

.feed .post{
    background: white;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}

.post .profile-photo{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #3185FC;
}

.post h1{
    position: absolute;
    top: 4px;
    left: 53px;
    color: #3185FC;
    font-size: 30px;
    font-weight: 800;
}

.post h5{
    font-size: 14px;
    font-weight: 200;
    position: absolute;
    top: 35px;
    left: 53px;
}

.post p{
    margin-top: 10px;
    text-align: justify;
    font-weight: 600;
}

.make-post .textarea{
    border: 1px solid;
    width: 20px;
    display: block;
    width: 100%;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
    border-radius: 5px;
    padding: 5px;
    background: white;
}

.make-post .textarea[contenteditable]:empty::before {
  content: "Write a post...";
  color: gray;
}

.make-post button{
    border: none;
    background: none;
    font-size: 23px;
    display: inline;
}

.make-post button.submit{
    display: inline;
    width: 194px;
    background: white;
    margin-left: 41px;
    border-radius: 5px;
    font-weight: 600;

}

.post .textarea{
    border: 1px solid;
    width: 20px;
    display: block;
    width: 50%;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
    border-radius: 5px;
    padding: 5px;
}

.textarea[contenteditable]:empty::before {
  content: "Write a comment...";
  color: gray;
}

.post button{
    border: none;
    background: none;
    font-size: 23px;
    display: inline;
}

.post .large-image{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.post .small-image{
    width: 100%;
    height: 100px;
    object-fit: contain;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;
}

.post .submit{
    display: inline;
    width: 195px;
    background: #3185FC;
    margin-left: 41px;
    border-radius: 5px;
    font-weight: 600;

}
