.semester-creator-container{
	background: rgb(106, 106, 111);
    position: absolute;
    top: 0;
    width: 100%;
    height: 625px;
    padding: 10px;
    border-radius: 5px;
}

.seven-day-agenda{
	background: white;
    padding: 5px;
    border-radius: 5px;
    height: 588px;
    overflow: scroll;
    position: relative;
}

.seven-day-agenda table{
	width: 100%;
    height: 100%;
    border: none;
}

.seven-day-agenda table td{
    position: relative;
    width: 14.6%;
    height: 40px;
    border-top: 1px solid lightgrey;
    border-right: 1px dashed lightgrey;
    border-left: 1px dashed lightgrey;
}

.seven-day-agenda .event-item{
    padding: 4%;
    border-radius: 5px;
    background: #fbdbb0ba;
    cursor: pointer;
}

.event-item:hover{
    opacity: .7;
}

.event-item h5{
    font-size: 100%;
}

.seven-day-agenda h5.time{
    left: 90.5%;
    position: absolute;
    font-size: 10px;
    color: #545353;
    font-weight: 600;
}

.class-item{
    padding: 5px;
    background: rgb(215, 255, 224);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
}

.class-item button{
	position: absolute;
    left: 92.1%;
    color: red;
    font-weight: 800;
    top: 0;
    background: white;
    width: 45px;
    height: 46px;
    border: none;
    border-radius: 5px;
}

.class-item h3{
	font-size: 16px;
    font-weight: 600;
}

.class-item h2{
	    font-size: 18px;
    font-weight: 200;
}

.class-item h1{
	    font-size: 24px;
    font-weight: 800;
}

.class-editor input.class-name{
    width: 100;
    border: none;
    font-size: 26px;
    width: 100%;
    font-weight: 700;
}

.day-buttons{
    margin: 5px 0;
    position: relative;
    left: 7px;

}

.day-buttons button{
    margin: 0 6px;
    border: none;
    background: #d3d4e8;
    border-radius: 5px;
    font-weight: 800;
}

.day-buttons button:first{
    margin: 0;
}

.class-editor .instruct-loc input{
    width: 100%;
    border: none;
    font-weight: 200;
}

.class-editor .instruct-loc{
    margin-top: 3px;
}

.class-editor .start-end-date{
    margin: 0 14px;
    margin-bottom: 3px;
}


input{
    width: 100%;
    border: none;
    border-radius: 5px;
}

.suggested-links{
    background: lightgrey;
    border-radius: 5px;
    padding: 5px;
    height: 355px;
    overflow: scroll;
}

.suggested-links .link{
    background: white;
    padding: 5px;
    height: 270px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.link h1{
    font-size: 28px;
    font-weight: 800;
}

.link h5{
    font-size: 14px;
    position: relative;
    top: -10px;
    color: rgb(144, 141, 141);
}

.link h2{
    font-size: 20px;
    font-weight: 200;
    position: relative;
    top: -20px;
}

.link h3{
    font-size: 20px;
    font-weight: 200;
    position: relative;
    top: -28px;
}

.link .week-days{
    position: relative;
    top: -32px;
}

.link button{
    background: #4F9AF1;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.link .user{
    position: relative;
    top: -26px;
    background: #ade6c6;
    border-radius: 5px;
    padding: 5px;
}

.user img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    top: -4px;
    object-fit: cover;
}

.user a{
    font-weight: 600;
    font-size: 24px;
    color: #4F9AF1;
    margin-left: 5px;
}

.user h5{
    top: 0;
}

.link button{
    position: relative;
    top: -20px;
}

.suggested-links .short-link{
    height: 112px;
}

.short-link a{
        position: relative;
    top: -24px;
    font-size: 24px;
    font-weight: 600;
    color: #4F9AF1;
}

.short-link button{
        position: initial;
}

.link button.drop-down{
    background: lightgrey;
    height: 18px;
    position: relative;
    margin-top: 5px;
}

.drop-down i{
        position: absolute;
    top: -2px;
    left: 46%;
}

