body{
	width: 100%;
	height: 100%;
}

.page-container{
	margin: 5px 41px;
    position: relative;
}

.feed-container .make-post{
	position: relative;
    background: #3185FC;
    top: 85px;
    padding: 12px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.feed-container .make-post textarea{
	height: 100px;
    width: 307px;
    border-radius: 17px;
    resize: none;
    display: block;
}

.feed-container .make-post button{
	background: none;
	border: none;
}

.menu{
	height: 1000px;
    background: rgb(87, 89, 90);
}

.assignments-container{
    background: rgb(30,30,30);
    padding: 10px;
}

.assignment-dashboard{
    padding: 10px;
    height: 300px;
    background: rgb(245,245,245);
    color: rgb(30,30,30);;
    border-radius: 5px;
    position: relative;
}

.assignment-dashboard h5{
    font-size: 15px;
}

.assignment-dashboard #add-assignment{
    background: none;
    border: none;
    color: #F65656;
    font-weight: 800;
    position: absolute;
    font-size: 42px;
    top: -6%;
    left: 90%;
}

.assignment-dashboard #add-todo{
    background: none;
    border: none;
    color: #9CFF94;
    font-weight: 800;
    position: absolute;
    font-size: 42px;
    top: 69%;
    left: 89%;
}

.see-more{
    background: none;
    border: none;
    font-size: 14px;
    position: relative;
    left: 79%;
    top: -8px;
    font-weight: 600;
}

.see-more-to-do {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    left: 78%;
}

.assignment{
    margin-bottom: 5px;
    padding: 8px 10px 0px 10px;
    border-radius: 15px;
    font-weight: 800;
}

.assignment-dashboard hr{
    margin-top: 0;
    margin-bottom: 5px;
}

.assignment button{
    font-size: 15px;
    color: black;
    background: none;
    border: none;
    position: relative;
    top: -5px;
    background: white;
    border-radius: 100%;
    padding: 0 10px 8px 10px;
}

.to-do{
    display: inline-flex;
    font-weight: 700;
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.to-do button{
    background: #9CFF94;
    border: none;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

button:hover{
    opacity: .7;
}

.truncate {
  width: 97%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}



.agenda{
    background: rgb(30,30,30);
    padding: 10px;
    margin-top: 10px;
}

.agenda .foreground{
    height: 300px;
    background: rgb(245,245,245);
    color: rgb(30,30,30);
    border-radius: 5px;
    position: relative;
    overflow: scroll;
}

.agenda h1{
    color: white;
}

.agenda .time-hr h5{
        position: relative;
    font-size: 10px;
    font-weight: 600;
    left: 87%;
    top: -29px;
}

.agenda .time-hr{
    position: absolute;
    width: 100%;
}

.agenda .item-container{
    background: #BFF2A7;
    position: relative;
    width: fit-content;
    padding: 10px;
    left: 10px;
    top: 10px;
    border-radius: 11px;
}

.item-container h2{
        display: inline-block;
    font-size: 14px;
    font-weight: 800;
}

.item-container h3{
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    font-weight: 200;
}
