#landing{
	background: white;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	background-image: url('/backgroundImages/landing.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

#landing h5.error{
	font-size: 14px;
	font-weight: 500;
	border: none;
	position: absolute;
}

#landing h5.error i{
	font-size: inherit;
	padding: 0;
}

#landing button{
	border: none;
	border-radius: 5px;
}

#landing button.login{
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	right: 20px;
	top: 20px;
}

#landing ul{
	position: relative;
	top: 150px;
    left: 40px;
	list-style: none;
}

#landing li{
	margin-bottom: 50px;
}

#landing h5{
	font-size: 24px;
    font-weight: bold;
}
#landing h5 i{
	padding-right: 25px;
	font-size: 36px;
}

#footer-tag{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#landing h3{
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 48px;
}

#landing input{
	font-size: 20px;
    border: 1px solid transparent;
    margin-bottom: 5px;
    font-weight: 200;
	background: #d9ebf9;
	padding: 10px 5px;
	transition: .3s;
	color: black;
}

#landing button.sign-up{
	width: 100%;
	margin-top: 25px;
	font-size: 40px;
	font-weight: bold;
}

#landing .tag-line{
	position: relative;
    top: 100px;
    left: -150px;
}

#landing .tag-line h2{
	font-size: 48px;
}

#landing .ReactPasswordStrength{
	border: none;
	overflow: hidden;
	border-radius: 5px;
	height: 54px;
    margin-bottom: 5px;
}

#landing .ReactPasswordStrength-input{
	width: 100%;
	margin: 0;
	height: auto;
	padding: 10px 5px;
}

#landing .ReactPasswordStrength-strength-bar{
	top: -2.5px;
}


#landing .ReactPasswordStrength-strength-desc{
	top: 0;
    right: 39px;
}

#landing .react-tel-input{
	margin-bottom: 50px;
	border-radius: 5px;
}

#landing .react-tel-input .special-label{
	display: none;
}

#landing .react-tel-input input{
	height: inherit;
	margin-bottom: 0;
}