.user-search{
	background: white;
    position: absolute;
    z-index: 4;
    border-radius: 2px;
    width: inherit;
    padding: 5px;
    max-height: 220px;
    overflow: scroll;
}

.user-search .search-item:last-child{
	border: none;
}

.user-search .search-item{
	position: relative;
	min-height: 28px;
    background: #e6e6e6;
    margin: 0;
    border-bottom: 1px solid black;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user-search .search-item *{
    margin: 0;
}

.user-search .search-item img{
	height: 15px;
	width: 15px;
	object-fit: cover;
	border-radius: 100%;
	border: none;
	position: absolute;
}

.user-search img.school{
    left: 30px;
    top: 24px;
    height: 15px;
    width: 15px;
}

.user-search h2{
	font-size: 14px;
	font-weight: 600;
	display: block;
	position: relative;
	text-align: left;
    left: 25px;
    width: 87%;
}

.user-search h3{
	position: relative;
    font-size: 12px;
    left: 45px;
    top: 3px;
    height: 15px;
    font-weight: 300;
    width: 81%;
    overflow: hidden;
    text-align: left;
}