.message-center{
	background: #D7E6F4;
    padding: 10px;
    border-radius: 5px;
    height: 625px;
}

.message-center .left input{
    width: 100%;
    border: none;
    height: 49px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 22px;
}

.message-center .left button{
	background: none;
    border: none;
    font-weight: 800;
    font-size: 55px;
    position: absolute;
    top: -22px;
    color: #4F9AF1;
}

.message-center .message-selector{
	background: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.message-center .message-selector:hover{
	opacity: .8;
}

.message-selector img{
	height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.message-selector h1{
	font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
}

.message-selector h2{
	font-size: 12px;
    color: #4F9AF1;
    font-weight: 500;
    margin: 0;
}

.message-selector h3{
	font-size: 12px;
    position: relative;
    left: 48px;
    display: inline;
    top: -16px;
    color: #7B7373;
}

.message-selector p{
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    color: #848484;
}

.right .header{
    background: rgba(0,0,0,.1);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}

.right .header img{
	height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.right .header h1{
	display: inline;
    margin-left: 18px;
    font-size: 50px;
    position: relative;
    top: 39px;
    font-weight: 600;
}

.messages{
	background: white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.messages h5{
	font-size: 12px;
    color: #848484;
    position: relative;
    left: 38%;
}

.messages .received{
	padding: 5px;
    background: #E2E2E2;
    border-radius: 5px;
    width: 47%;
}

.messages .sent{
	padding: 5px;
    background: #88B4E8;
    border-radius: 5px;
    width: 47%;
    margin-top: 8px;
    position: relative;
    left: 53%;
}

.right .reply{
	background: #4F9AF1;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right textarea{
	width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 5px;
}

.messages-body{
	height: 385px;
	overflow: scroll;
}

.message-selector.selected{
    border: 2px solid rgba(79,154,241,1);
}


.right .no-select{
    height: 600px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    position: relative;
}

.no-select h2{
    position: absolute;
    left: 23%;
    font-size: 24px;
    font-weight: 600;
    top: 50%;
    color: rgba(0,0,0,.6);
}

.messages p{
    margin: 0;
}

.messages .sent, .received{
    display: inline-block;
}

.message-selector-container{
    overflow: scroll;
    height: 541px;
    background: rgb(235,235,235);
    padding: 5px;
    border-radius: 5px;
}

.new-message-container{
        position: absolute;
    top: 2%;
    left: 35%;
    background: rgb(235,235,235);
    padding: 10px;
    border-radius: 5px;
    width: 365px;
}

.new-message .close-new-message{
    display: block;
    position: relative;
    left: 83%;
    background: none;
    border: none;
    top: -11px;
    font-weight: 600;
}

.new-message input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: -7px;
    font-size: 22px;
}

.new-message textarea{
    width: 100%;
    resize: none;
    border: none;
    border-radius: 5px;
    height: 80px;
}

.new-message .send{
    width: 100%;
    border: none;
    background: #4F9AF1;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    font-weight: 800;
}

.search-container{
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
    position: absolute;
}

.search-item{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.search-item:hover{
    opacity: .7;
}

.search-item img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid white;
}

.search-item h1{
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
}

.selected-classmate-container{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.selected-classmate-container img{
        height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid white;
}

.selected-classmate-container h1{
    display: inline;
    margin: 0 10px;
    position: relative;
    top: 6px;
    font-weight: 600;
    font-size: 24px;
}

.selected-classmate-container button{
    position: absolute;
    left: 93%;
    top: 22px;
    border: none;
    background: none;
    font-weight: 800;
    cursor: pointer;
}

