.semester-creator-container{
	background: rgb(255,255,255);
    background: -moz-linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(79,154,241,1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(79,154,241,1) 100%);
    background: linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(79,154,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#4f9af1",GradientType=1);
    position: absolute;
    top: 20px;
    width: 98.5%;
    min-height: 625px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 10px;
    overflow: hidden;
}

.semester-creator-container button.create-semester{
    position: absolute;
    right: 17px;
    top: 35px;
    border: none;
    background: lightgreen;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
    background: linear-gradient(164deg, rgba(255,255,255,1) 0%, rgba(117,250,97,1) 100%);
}

.semester-creator-container button.update-semester{
    position: absolute;
    right: 17px;
    top: 35px;
    border: none;
    background: lightgreen;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
    background: linear-gradient(164deg, rgba(255,255,255,1) 0%, orange 100%);
}

.semester-creator-container #exit{
    font-weight: 800;
    border: none;
    background: none;
    color: red;
    position: absolute;
    right: 10px;
    top: 5px;
}

.seven-day-agenda{
	background: white;
    padding: 5px;
    border-radius: 5px;
    height: 558px;
    overflow: scroll;
    position: relative;
}

.seven-day-agenda table tbody tr{
	height: 80px;
}

.seven-day-agenda table td{
    position: relative;
    width: 14.6%;
    border-top: 1px solid lightgrey;
    border-right: 1px dashed lightgrey;
    border-left: 1px dashed lightgrey;
}

.seven-day-agenda .event-item{
    padding: 4%;
    border-radius: 5px;
    /*background: #fbdbb0ba;*/
    cursor: pointer;
    z-index: 1;
    width: 98%;
    border: 2px solid transparent;
    transition: .3s;
}

.event-item:hover{
    opacity: .7;
}

.event-item h5{
    font-size: 93%;
}

.seven-day-agenda h5.time{
    left: 90.5%;
    position: absolute;
    font-size: 10px;
    color: #545353;
    font-weight: 600;
}

.class-item{
    padding: 5px;
    background: rgb(215, 255, 224);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .3s;
    overflow: hidden;
}

.class-item:hover{
    opacity: .8;
    border: 2px solid #4F9AF1;
}

.class-item button{
	position: absolute;
    left: 92.1%;
    color: red;
    font-weight: 800;
    top: 0;
    background: white;
    width: 45px;
    height: 46px;
    border-radius: 5px;
    border: none;
}

.class-item h3{
	font-size: 16px;
    font-weight: 600;
}

.class-item h2{
	    font-size: 18px;
    font-weight: 200;
}

.class-item h1{
	    font-size: 24px;
    font-weight: 800;
}

.class-editor input.class-name{
    width: 100;
    font-size: 26px;
    width: 100%;
    font-weight: 700;
}

.day-buttons{
    margin: 5px 0;
    position: relative;
    left: 7px;
    width: 94%;
    border-radius: 5px;
    border: 2px solid transparent;
}

.day-buttons button{
    margin: 0 6px;
    background: #d3d4e8;
    border-radius: 5px;
    font-weight: 800;
    border: none;
}

.day-buttons button:first{
    margin: 0;
}

.class-editor{
    width: 274px;
    display: inline-block;

}

.class-editor .instruct-loc input{
    width: 100%;
    font-weight: 200;
}

.class-editor .instruct-loc{
    margin-top: 3px;
}

.class-editor .start-end-date{
    margin: 0 14px;
    margin-bottom: 3px;
}


input{
    width: 100%;
    border-radius: 5px;
}

.suggested-links{
    background: #e7f9f5;
    border-radius: 5px;
    padding: 5px;
    height: 372px;
    overflow: scroll;
}

.suggested-links p{
    text-align: center;
    font-weight: 200;
    position: relative;
    top: 45%;
}

.suggested-links .link{
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.link h1{
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}

.link h5{
    font-size: 14px;
    margin: 0;
    color: rgb(144, 141, 141);
}

.link h2{
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 0;
}

.link h3{
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 0;
}

.link .week-days{
    margin-bottom: 5px;
}

.link button{
    background: #4F9AF1;
    width: 100%;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 800;
    color: white;
    border: none;
}

.link .user{
    background: #ade6c6;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.user img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    top: -4px;
    object-fit: cover;
}

.user a{
    font-weight: 600;
    font-size: 24px;
    color: #4F9AF1;
    margin-left: 5px;
}

.user h5{
    top: 0;
}

.class-editor .start-end-time-container hr{
    border-color: black;
}

.class-editor .start-end-time-container h5{
    color: black;
}

.link button{
    /*position: relative;
    top: -20px;*/
}

.suggested-links{
    width: 100%;
    display: inline-block;
}

.suggested-links h5{
    margin: 0;
    font-weight: 200;
    font-size: 16px;
}

.suggested-links hr{
    margin: 0;
    margin-bottom: 5px;
}

.short-link a{
    width: inherit;
    overflow: hidden;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #4F9AF1;
}

.short-link button{
        position: initial;
}

.short-link button span{
    font-size: 80%;
}

.link button.drop-down{
    background: lightgrey;
    height: 20px;
    font-size: 9px;
}

.drop-down i{
    font-size: 17px;
}

.name-semester{
    -webkit-box-shadow: 0px 17px 10px 10px rgba(226,232,245,1);
-moz-box-shadow: 0px 17px 10px 10px rgba(226,232,245,1);
box-shadow: 0px 17px 10px 10px rgba(226,232,245,1);
    background: white;
    position: relative;
    width: 400px;
    left: 33%;
    top: 25%;
    padding: 5px;
    border-radius: 5px;
}

.semester-creator-container .name-semester input{
    display: block;
    position: relative;
    font-size: 30px;
    border: 2px solid lightgrey;
}

.name-semester h1, h2, h3{
    text-align: center;
}

.name-semester h1{
    font-weight: 600;
}

.name-semester h2{
    font-weight: 200;
    margin: 0;
}

.name-semester h3{
    font-size: 36px;
    font-weight: 600;
}

.name-semester button{
    position: relative;
    margin-top: 10px;
    /*background: #64f14f;*/
    font-size: 32px;
    font-weight: 800;
    left: 5%;
    border-radius: 5px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,250,97,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,250,97,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,250,97,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#75fa61",GradientType=1);
    border: none;
}

.class-editor .button-container{
    position: relative;
    height: 60px;
}
.class-editor .button-container button{
    border: none;
    position: relative;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    position: absolute;
}

.class-editor .button-container button.add-class{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,250,97,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,250,97,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(117,250,97,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#75fa61",GradientType=1);
}

.class-editor .button-container button.cancel-update{
    font-weight: 400;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(167 173 165) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(167 173 165) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(167 173 165) 100%);
    width: 80%;
}

.class-editor .button-container button.update{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(250 217 97) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(250 217 97) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(250 217 97) 100%);
    width: 80%;
}

.class-item-container{
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: scroll;
    height: 181px;
}


.day-buttons .selected{
    background: rgba(117,250,97,1);
    transition: .3s;
}

p.error{
    margin: 0;
    font-size: 11px;
    color: red;
    font-weight: 700;
}

.semester-creator-container input{
    border: 2px solid transparent;
}

.time-td p{
    margin: 0;
    font-size: 12px;
    position: relative;
    top: -13px;
}

.time-td{
    width: 10px;
    background: #dde3ff96;
}

