.ass-cont{
    max-height: 203px;
    overflow: scroll;
}

.ass-cont h4{
    display: inline-block;
    color: white;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-weight: 200;
    font-size: 20px;
}