.error-message{
    position: relative;
    background: white;
    top: 93px;
    margin: 0 33%;
    padding: 10px;
    border-radius: 10px;
    color: red;
    font-weight: 500;
    font-size: 17px;
    -webkit-box-shadow: inset 0px 0px 25px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 25px -9px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 25px -9px rgba(0,0,0,0.75);
}

.error-message p{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}