.link-selector{
	position: absolute;
    top: 75px;
    left: 33%;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    min-height: 200px;
}

.link-selector button.add{
	position: absolute;
    top: 60px;
    right: 10px;
}

.link-selector h1{
	font-size: 40px;
}

.link-selector h5{
	margin: 0;
}

.link-selector hr{
	margin: 0;
}

.link-selector h2{
	text-align: left;
    font-size: 24px;
    font-weight: 600;
    display: inline;
    margin-right: 9px;
}

.link-selector h3{
	text-align: left;
    display: inline;
    font-size: 14px;
}

.link-selector h4{
	margin-left: 15px;
    font-size: 16px;
    margin-bottom: 0;
}

.link-selector h4.indent{
	margin-left: 25px;
}

.link-selector button.cancel{
	position: absolute;
    background: none;
    border: none;
    top: 0;
    right: 5px;
}

.link-selector .class-items{
	max-height: 150px;
    overflow: scroll;
    padding: 5px;
    border-radius: 5px;
}

.link-info{
	margin: 5px 0;
	border-radius: 5px;
	padding: 5px;
}