.not button.drop-down{
	position: absolute;
    right: -7px;
    bottom: -5px;
    color: white;
    font-size: 5px;
    padding: 2px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.note.new-follower h2{
    position: absolute;
    top: 12px;
    left: 142px;
    font-size: 12px;
    font-weight: 200;
}

.drop-down i.fas{
	font-size: 13px;
}

.top-bar span{
	position: relative;
}

.top-bar h5{
	background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: red;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 13px/8px Helvetica, Verdana, Tahoma;
    height: 18px;
    min-width: 14px;
    padding: 4px 3px 0 3px;
    text-align: center;
    display: inline;
    position: absolute;
    top: -15px;
    right: 0;
}

.not-wrapper{
    position: relative;
}

.note h4.count{
    position: absolute;
    top: 40px;
    right: 10px;
    font-weight: 200;
}

.note.message{
    cursor: pointer;
    transition: .3s;
}

.note.message:hover{
    opacity: .8;
}

.note p{
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    height: 20px;
    overflow: hidden;
    margin: 0;
}

.note hr{
	margin: 0;
}

.note h1.class-name{
	font-weight: 800;
    font-size: 20px;
}

.top-bar .note h2{
	font-size: 14px;
    text-align: left;
    margin-left: 5px;
}

h2 .other-user img{
	margin: 0 10px;
}

h2 .other-user{
	font-size: 16px;
	font-weight: 600;
}

.note .ass-info{
	background: white;
	border-radius: 5px;
	padding: 5px;
}

.note h4{
	font-size: 14px;
	font-weight: 200;
	margin: 0;
}

.note h4 span{
	font-weight: 600;
}

.note div.add{
	position: relative;
    height: 15px;
    margin: 0;
}

.note div.add button{
	font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 8px;
    margin: 0;
}

.ass-info p{
	margin: 0;
    font-size: 12px;
    font-weight: 300;
    margin-left: 10px;
    overflow: auto;
    margin-bottom: 6px;
}

.note.new-follower{
    height: 66px;
}

.top-bar .new-follower h1{
    font-weight: 800;
    font-size: 20px;
}

.new-follower a{
    position: absolute;
    top: 30px;
    left: 10px;
    font-weight: 600;
}



/*.top-bar h5 span{
	left: -4%;
    top: -1px;
}*/