a:webkit-any-link *:hover{
 text-decoration: none;   
}

body{
	width: 100%;
	height: 100%;
    overflow-x: hidden;
}

.background-shader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1;
}

.page-container{
	margin: 5px 41px;
    position: relative;
}

.mont-font{
    font-family: 'Montserrat', sans-serif;
}

.sans-font{
    font-family: 'Open Sans', sans-serif;
}

.blue-c{
    color: #007bff;
}

.blue-bc{
    background: #007bff;
}

.green-c{
    color: #28965A;
}

.red-c{
    color: red;
}

.red-bc{
    background: red;
}

.orange-bc{
    background: orange;
}

.off-black-bc{
    background: #313131;
}

.off-black-c{
    color: #313131;
}

.green-bc{
    background: #28965A;
}

.light-green-bc{
    background: #d3ecd1;
}

.muted-c{
    color: #9c9c9c;
}

.gray-c{
    color: #9A9A9A;
}

.gray-bc{
    background: #9A9A9A;
}

.form-bc{
    background: #F3F3F3;
}

.black-c{
    color: #282828;
}
.black-bc{
    background: #282828;
}

.off-blue-bc{
    background: #74CDEA;
}

.translucent-blue-bc{
    background: #007bff36;
}

.white-c{
    color: white;
}

.white-bc{
    background: white;
}

.muted-red-bc{
    background: #FFCECE;
}

.follower-note-bc{
     background: #cfefd3;
}

.muted-orange-bc{
    background: #F9E7CD;
}

.muted-green-bc{
    background: #D3E3F6;
}

.post-bc{
    background: #333333;
}

.light-text{
    font-weight: 200;
}

.bold-text{
    font-weight: 800;
}

.background{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.add{
    border: none;
    border-radius: 5px;
    margin-left: 31%;
    font-weight: 800;
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
}

button:hover{
    opacity: .7;
    transition: .3s;
}

a:hover{
    transition: .3s;
}

h5.error-msg{
    color: red;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}

.loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: inherit;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 10;
}

.loader ul{
    position: relative;
    top: 47%;
}

.lottie-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    border-radius: inherit;
}

.truncate{
    text-overflow: ellipsis;
}

.error{
    border: 1px solid red;
    border-radius: 5px;
}


/*End of all page styling*/

/*Header Styling*/
.top-bar{
    border-bottom: 1px solid rgba(223, 221, 221, 0.71);;
}
.top-bar h1{
    font-weight: bold;
    display: inline;
    margin-right: 40px;
    font-size: 48px;
}

.top-bar input{
    position: relative;
    top: -7px;
    width: 300px;
    font-size: 20px;
}

.top-bar .not{
    margin: 0 30px;
    position: relative;
    top: -6px;
}

.not button{
    border: none;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 5px;
    /*background: none;*/
}

.top-bar .profile{
    position: absolute;
    right: 20px;
    top: 15px;
}

.profile img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.profile button{
    border: none;background: none;
    font-size: 18px;
}
/*End of Header Styling*/

/*MainPage Styling*/
.left{
    border-right: 1px solid rgba(223, 221, 221, 0.71);
}
/*End of MainPage Styling*/

/*Assignment Dashboard Styling*/
.assignment-dashboard{
    position: relative;
}
.assignment-dashboard h1{
    font-weight: bold;
    font-size: 36px;
    display: inline;
}

.assignments-cont{
    max-height: 151px;
    overflow: scroll;
}

.assignment{
    margin-bottom: 5px;
    padding: 8px 10px 0px 10px;
    border-radius: 5px;
    font-weight: 800;
    position: relative;
    transition: .3s;
    overflow: hidden;
}

.assignment h1{
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    overflow: hidden;
}

.assignment h2{
    font-size: 16px;
    margin-bottom: 5px;
    width: inherit;
    text-align: left;
}

.assignment button.see-more{
    border: none;
    font-weight: 800;
    font-size: 14px;
    width: 100%;
    background: #fdfdfd;
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.assignment button.completed{
    border: none;
    border-radius: 5px;
    font-size: 12px;
    height: 20px;
    width: 24px;
    position: relative;
    top: -3px;
    transition: .3s;
    right: -10px;
}

.assignment input{
    height: 22px;
}

.assignment input:after {
  background: red;
  border-radius: 100%;
}

.assignment .more-info{
    margin: 0 8%;
}

.assignment .more-info p{
    margin: 0;
    font-weight: 400;
}

.assignment .more-info h5{
    font-weight: 200;
}

.assignment .more-info button{
    font-size: 16px;
    position: relative;
    background: none;
    border: none;
    text-decoration: underline;
    padding: 0;
    margin-right: 5px;
}

/*End of Assignment Dashboard Styling*/


/*Feed container styling*/
.make-post{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(223, 221, 221, 0.71);
    position: relative;
}

.make-post h5{
    color: white;
}

.make-post button{
    border: none;
    font-size: 24px;

}

.make-post button.submit{
    display: inline;
    width: 194px;
    margin-left: 41px;
    border-radius: 5px;
    font-weight: 600;
}

.assignment-dashboard h5{
    font-size: 15px;
}

.assignment-dashboard #add-assignment{
    background: none;
    border: none;
    color: #F65656;
    font-weight: 800;
    position: absolute;
    font-size: 42px;
    top: -6%;
    left: 90%;
}

.assignment-dashboard hr{
    margin-top: 0;
    margin-bottom: 5px;
}



.truncate {
  width: 97%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}


.time-hr h5{
        position: relative;
    font-size: 10px;
    font-weight: 600;
    left: 87%;
    top: -29px;
}

.time-hr{
    position: absolute;
    width: 100%;
}

.make-post .textarea{
    border: 1px solid;
    width: 20px;
    display: block;
    width: 100%;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
    border-radius: 5px;
    padding: 5px;
    background: white;
}

.make-post .textarea[contenteditable]:empty::before {
  content: "Write a post...";
  color: gray;
}

.post .textarea{
    border: 1px solid;
    width: 20px;
    display: block;
    width: 50%;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
    border-radius: 5px;
    padding: 5px;
}

.textarea[contenteditable]:empty::before {
  content: "Write a comment...";
  color: gray;
}


