.new-assignment{
    background: #F3F3F3;
    padding: 20px;
    padding-top: 30px;
    width: 400px;
    height: 295px;
    left: 31%;
    top: 18%;
    position: fixed;
    border-radius: 6px;
    z-index: 2;
}

#X{
	background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}

.new-form input{
	width: 100%;
	border: none;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	border-radius: 5px;

}

.new-assignment button.class{
    border: none;
    transition: .3s;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.new-assignment .class h5{
	font-size: 14px;
    margin: 2px;
}

.new-assignment input.name{
	font-size: 24px;
	font-weight: 600;
	margin-top: 15px;

}

.new-assignment .textarea-col{
	padding: 0;
}

.new-assignment textarea{
	font-size: 16px;
	width: 100%;
	resize: none;
	border: none;

}

.react-datepicker-wrapper input{
    font-weight: 200;
}

.new-assignment .submit{
	margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 32px;
    width: 100%;
}

.new-assignment input{
    font-weight: 200;
}

.new-assignment input.name{
    font-weight: 600;
}


/*Time picker styles*/
    .react-time-picker{
        border: none;
        width: 100%;
        font-weight: 200;
    }

     .react-time-picker .react-time-picker__wrapper{
        border: none;
        background: white;
        border-radius: 5px;
    }
/*End Of Time picker styles*/